<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:name="MusicService"
    package="com.feolost.KidsQuiz"
    android:enabled="true">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ВикторинаДляДетей">
        <activity
            android:name=".congratulation2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".Level_Selecting3"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".rus_5"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".rus_4"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".rus_3"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".rus_2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".rus_1"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".congratulation1"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_10"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_9"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_8"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_7"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_6"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_5"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_4"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_3"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".math_1"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".Level_Selecting2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".okr_10"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".okr_9"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".okr_8"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".okr_7"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".okr_6"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".About_me"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".okr_5"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".okr_4"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".congratulation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".okr_3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".okr2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".okr_1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Coming_Soon"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Level_Selecting"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>